<h1>Cars</h1>
<ul class='cars'>
{{#each car in model}}
  <li>{{car.fullName}}</li>
{{/each}}
</ul>

<button class="delete-car" {{action "deleteCar"}}>
  Delete
</button>

<button class="create-car" {{action "createCar"}}>
  Create
</button>
